.slideshow {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.slideshow > img {
    height: 300px;
    width: 800px;
    margin: 0;
    display: none;
}

.selected {
    display: flex !important;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 8px 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(179, 110, 8, 0.4);
    border-radius: 50%;
    object-fit: cover;
}

.next {
    right: 0.5rem;
}

.prev {
    left: 0.5rem;
}

.prev:hover,
.next:hover {
    background-color: rgba(179, 110, 8, 1);
}

.slidedot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
}

.slidedot:hover,
.slidedot-active {
    background-color: rgba(240, 148, 11, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
