.Header {
  font-size: 36px;
  color: rgba(240, 148, 11, 1);
  font-weight: 500;
}

.Sub-Header {
  font-size: 24px;
  color: rgba(179, 110, 8, 0.8);
  margin: 10px 0;
}

.App {
  text-align: center;
}
